<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">

      <div class="col ">
        <img class="mb-2" src="{{ site.baseurl }}/assets/img/logo_title_en_white.png" style="max-height: 28px; width: auto;">
        <small class="d-block mb-3 text-white">실내건축 | 인테리어 | 목조주택 | 스틸하우스 | 전원주택 | 도장 | 철구조물 | 창호공사</small>
        <p class="d-block mb-3 text-white-50">전라남도 여수시 신기북1길 9</p>
        <small class="d-block mb-3 text-white-50">
          대표: 임순례
          <br/>
          문의전화: 061-685-2600
        </small>
        <small class="d-block mb-3 text-white-50"><strong>COPYRIGHT© 21st Century <span class="text-info">HOUSE PLAN</span> ALL RIGHTS RESERVED.</strong></small>
      </div>
      
    </div>
  </div>
</footer>