<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.site_url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:locale" content="default">
  <meta property="og:image" content="{{ site.site_url }}assets/img/logo_big.jpg">
  <!-- <meta property="og:image" content="https://socket.io/images/chat-2.png">
  <meta property="og:image" content="https://socket.io/images/chat-3.png">
  <meta property="og:image" content="https://socket.io/images/chat-4.png">
  <meta property="og:image" content="https://socket.io/images/chat-5.png"> -->
  <meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.site_url }}assets/img/test6.jpg">

  <title>21세기 하우스플랜</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/main.css" type="text/css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+KR:wght@200&family=Song+Myung&display=swap" rel="stylesheet">

  {%- include scriptsInHead.html -%}

  {%- feed_meta -%}
  
</head>