<header style="width: 100%;height: 100%">
  <div id="star-area">
    <svg id="svgCanvas" preserveaspectratio="xMinYMin slice" width="100%">
      <g id="starGroup"></g>
      <g transform="translate(150, 150)">
        <circle class='shooting-star' fill='white' cx="0" cy="0" r="2" radius="125" ></circle>
      </g>
    </svg>
    <div class="header-content">
        <div class="header-content-inner">
          <h1>새로운 삶의 시작,<br/>21세기 하우스플랜이<br/>함께합니다.</h1>
          <hr class="main">
          <p><strong>여수/순천/전남지역<br/>경력 30년 이상의 인테리어 전문업체입니다.</strong></p>
        
          <a href="http://naver.me/51gm7Cuw" target="_blank" class="btn btn-primary" style="width: 142px;">
            <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <span class="align-middle">무료상담 신청</span>
          </a>
          
        </div>
    </div>
  </div>
</header>