<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" href="{{ site.site_url }}" style="line-height: 26px;">
      <!-- <span class="align-middle">21c HOUSE PLAN</span> -->
      <!-- <span class="align-middle"> -->
      <img src="assets/img/logo_title_white.png" style="max-height: 26px; width: auto;">
      <!-- </span> -->
      <span class="badge badge-pill badge-light">여수인테리어</span>
    </a>

    <!-- 일단 메뉴 가림 -->
    <!-- <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div> -->

  </div>
</nav>