
{%- comment -%} <section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {%- endcomment -%}

<section class="pt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ site.baseurl }}/assets/img/test6.jpg" alt="">
      </div>

      <div class="col-lg-5">
        <h1 class="font-weight-light">여수/순천/전남지역<br/>인테리어 전문 업체</h1>
        <p>해당 지역에서 건축 및 인테리어로 30년 이상 노하우를 가진 전문 업체로써, 믿을 수 있고 신뢰할 수 있는 업체입니다.</p>
        <p>고객만족과 공간의 가치창조 두 가지의 핵심가치를 이루기 위해 꼼꼼하고 완벽한 시공 퀄리티와 다양한 접근 방법으로 단가를 최대한 낮추기 위해 노력하고 있습니다.</p>
        <a href="http://naver.me/51gm7Cuw" target="_blank" class="btn btn-primary">상담 신청서 작성</a>
        <!-- <a href="#" target="_blank" class="btn btn-info">상담문의 : 061-685-2600</a> -->
      </div>

    </div>
  </div>
</section>

<section class="portfolio mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center justify-content-md-between">
      {% for post in site.posts %}
      {% if post.image and post.image.main %}
      <div class="col-auto d-inline mb-5">
        <div class="portfolio-card card h-100" style="width: 15rem;">
          <div style="height:180px; overflow:hidden">
            <a href="{{ post.url | relative_url | replace: '.html', '' }}">
              <div class="portfolio-card-img" style="background-image: url('{{ post.image.path }}');"></div>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-parallax">
  <img class="parallax-img" src="{{ site.baseurl }}/assets/img/test3.jpg" alt="image"/>
</section>

<section class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>공사 내역</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <h4>건축</h4>
        <ul>
          <li>2층 스틸 하우스<small class="text-black-50"> 동산동</small></li>
          <li>스틸 하우스<small class="text-black-50"> 신기동</small></li>
          <li>태권도 학원<small class="text-black-50"> 선원동</small></li>
          <li>전원주택<small class="text-black-50"> 돌산</small></li>
          <li>우학리교회(이기풍목사님전시관)<small class="text-black-50"> 남면</small></li>
          <li>여수감리교회<small class="text-black-50"> 안산동</small></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>인테리어</h4>
        <ul>
          <li>인방 사무실 인테리어</li>
          <li>신동아 아파트 47평 인테리어<small class="text-black-50"> 학동</small></li>
          <!-- <li>주택 리모델링<small class="text-black-50"> 국동</small></li> -->
          <li>여수 우리들 연합의원</li>
          <!-- <li>폐수 종말 처리장 벽체</li> -->
          <li>아이엔 꽃집<small class="text-black-50"> 여서동</small></li>
          <li>주택 인테리어<small class="text-black-50"> 교동</small></li>
          <li>PC 방</li>
          <li>닭익는 마을 중림점</li>
          <li>여수 게스트 하우스</li>
          <li>카페 띠아모<small class="text-black-50"> 중앙동</small></li>
          <li>피아노 학원</li>
          <li>이노스빌 인테리어</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>리모델링</h4>
        <ul>
          <li>주택 리모델링<small class="text-black-50"> 안성동</small></li>
          <li>주택 리모델링<small class="text-black-50"> 문수동</small></li>
          <li>상가 벽체 리모델링<small class="text-black-50"> 신월동</small></li>
          <li>금호 아파트 화장실 리모델링<small class="text-black-50"> 선원동</small></li>
          <li>주택 리모델링<small class="text-black-50"> 국동</small></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>기타내역</h4>
        <ul>
          <li>3중도어 설치 다수</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 pb-5 bg-light" style="border-top: 1px solid rgba(0,0,0,.125);border-bottom: 1px solid rgba(0,0,0,.125);"> <!--text-light bg-secondary-->
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4 pt-5">
        <svg class="bi bi-check-all" width="7em" height="7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.354 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          <path d="M6.25 8.043l-.896-.897a.5.5 0 10-.708.708l.897.896.707-.707zm1 2.414l.896.897a.5.5 0 00.708 0l7-7a.5.5 0 00-.708-.708L8.5 10.293l-.543-.543-.707.707z"/>
        </svg>
        <h2>디테일한 작업 진행</h2>
        <p>작은 부분까지 고객의 입장에서 생각하고 진행합니다.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div>
      <div class="col-lg-4 pt-5">
        <svg class="bi bi-people" width="7em" height="7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z" clip-rule="evenodd"/>
        </svg>
        <h2>고객 맞춤 인테리어</h2>
        <p>시작부터 마무리단계까지 고객의 니즈에 맞춘 설계 및 시공을 약속드립니다.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div>
      <div class="col-lg-4 pt-5">
        <svg class="bi bi-house" width="7em" height="7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 00.5.5h9a.5.5 0 00.5-.5V7h1v6.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5zm11-11V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>
        </svg>
        <h2>편리한 A/S</h2>
        <p>여수인테리어 전문 업체로써 언제든지 편리하고 신속한 A/S를 받을 수 있습니다.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>시공분야</h2>
        <ul>
          <li>건축 (원룸 / 팬션 / 오피스텔 / 모텔 / 단독주택 / 전원주택 등)</li>
          <li>상가 (의료시설 / 커피숍 / 상가리모델링 / 학원 등)</li>
          <li>부분공사 (창호 / 도배 / 마루시공 / 유리 / 바닥재 / 내외장공사 등)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="{{ site.baseurl }}/assets/img/test5.jpg" style="height: 180px; width: 100%; display: block;">
          <div class="card-body">
            <h5 class="card-text">WHITE ROOM</h5>
            <p class="mb-0">화이트 인테리어 컨셉으로 환한 분위기를 연출</p>
            <!-- <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <p class="text-muted">9 mins</p>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="{{ site.baseurl }}/assets/img/test4.jpg" style="height: 180px; width: 100%; display: block;">
          <div class="card-body">
            <h5 class="card-text">MODERN INTERIOR</h5>
            <p class="mb-0">최신 모던 인테리어 적용</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="{{ site.baseurl }}/assets/img/test7.jpg" style="height: 180px; width: 100%; display: block;">
          <div class="card-body">
            <h5 class="card-text">CLEAN LIVING ROOM</h5>
            <p class="mb-0">깔끔하고 살기 좋은 공간을 창출</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-5 box-shadow">
          <img class="card-img-top" src="{{ site.baseurl }}/assets/img/test8.jpg" style="height: 180px; width: 100%; display: block;">
          <div class="card-body">
            <h5 class="card-text">SPECIAL SPACE</h5>
            <p class="mb-0">용도에 맞는 특별한 인테리어 시공 서비스</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</section>

<!-- naver map -->
<section class="section-map">
  <div id="map" style="width:100%;height:550px;"></div>
</section>