html,
body {
    height: 100%;
    width: 100%;
    @include defult-font;
    background-color: #343a40!important;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  // border-bottom: 1px #555 solid;
}

article {
  img {
    max-width: 100%;
  }
}

hr.main {
  border-color: $theme-primary;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

.wrap {
  background-color: #fff;
}

#star-area {
  position: relative;
  width: 100%;
  min-height: calc(100vh - calc(100vh - 100%));
  color: white;
  text-align: center;
  @include background-cover;
  background-position: center;
  background-image: url('../assets/img/header.jpg');

  .header-content {
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
    .header-content-inner {
      h1 {
        @include noto-serif-kr-font;
        text-transform: uppercase;
        letter-spacing: -5px;
        margin-top: 0;
        margin-bottom: 0;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        text-shadow: 1px 0px 5px #222;
        color: rgba(white, .7);
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h1 {
          font-size: 4em;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.post-header {
  h1 {
    @include noto-serif-kr-font;
    letter-spacing: -2px;
  }
}

.section-parallax {
  max-height: 600px;
  overflow: hidden;
  // background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  img {
    width: 100%;
  }
}

.portfolio {
  .portfolio-card {
    .portfolio-card-img {
      width:100%;
      height:100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}