@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

@mixin defult-font() 
{
    font-family: 'Nanum Gothic', sans-serif;
}

@mixin noto-serif-kr-font() 
{
    font-family: 'Nanum Gothic', sans-serif;
}
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Noto Serif KR', serif;
// font-family: 'Song Myung', serif;