---
layout: default
---

{% assign isProductInfo = false %}
{% assign articleCol = "col" %}
{% if page.product %}
  {% assign isProductInfo = true %}
  {% assign articleCol = "col-sm-9" %}
{% endif %}

<section class="post-header mb-5">
  <div  style="width: 100%; height:100px;"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="">{{ page.title | escape }}</h1>
      </div>
    </div>
  </div>
</section>  

<section>
  <div class="container">

    <div class="row">
      <div class="{{ articleCol }} mb-5">
        <article class="post">
          {{ content }}
        </article>
      </div>

      {%- if isProductInfo -%}
      <div class="col-sm-3 mb-5">
        <div class="card">
          <div class="card-header">
            <strong>INFORMATION</strong>
          </div>
          
          <ul class="list-group list-group-flush">
            {%- if page.product.type -%}
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
              <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
              <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
            </svg>
              {{ page.product.type }}
            </li>
            {%- endif -%}
            {%- if page.product.date -%}
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
              {{ page.product.date }}
            </li>
            {%- endif -%}
            {%- if page.product.location -%}
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              {{ page.product.location }}
            </li>
            {%- endif -%}
            {%- if page.product.text -%}
            <li class="list-group-item">{{ page.product.text }}</li>
            {%- endif -%}
          </ul> 
        </div>
      </div>
      {%- endif -%}

    </div>
  </div>
</section>